.App {
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.header {
  height: 70px;
  background-color: black;
}
.header-dropdown {
  background-color: black;
}
.navbar-toggler {
  margin-right: 20px;
  border: 2px solid white;
}

.header-logo {
  height: 50px;
  padding-left: 10px;
  padding-right: 40px;
}
.navbar-collapse {
  justify-content: space-between;
  padding-right: 40px;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: #00a0db;
}
.account-icon {
  color: #00a0db;
}
.account-icon:hover {
  color: white;
}

.page {
  height: 100%;
  width: 100%;
  background-color: #00a0db;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.page-card {
  background-color: white;
  max-width: 500px;
  min-width: 150px;
  margin: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}
.page-card > * {
  margin: 10px;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7px;
}

.sign-in-form > * {
  margin: 2px;
}

.btn-primary {
  margin-top: 10px;
  background-color: #00a0db;
  border-color: #00a0db;
}

.flex-align-center {
  align-self: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.begoodpeople {
  font-size: 40px;
  color: black;
}
